*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top left,#366f82 0%,#bf2e34 100%);
    /* background-position: center;
    background-size: cover; */
    position: absolute;
    /* display: flex; */
}
#form-box{
    width: 380px;
    height: 380px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    transition: .5s;
}
#heading{
    margin: .5rem 0;
    text-align: center;
    text-transform: capitalize;
    transition: 9s;
}
.btn-box{
    width: 250px;
    margin: 25px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    font-size: 20px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
    outline: none;
}
.active{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to top right,#549cb4 0%,#7de918 100%);
    border-radius: 30px;
    transition: 0.5s;
}
.login-group{
    top: 150px;
    left: 50px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.login-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom:  1px solid #999;
    outline: none;
    text-transform: capitalize;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to top right,#549cb4 0%,#7de918 100%);
    border-radius: 20px;
    border: none;
    outline: none;
}.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
.btn-box1{
    display: flex;
    justify-content: space-between;
}
#login{
    left: 50px;
}
#signup{
    left: 450px;
}