*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
    /* font-size: rem; */
    height: 100vh;
    background-image: linear-gradient(to top left,#366f82 0%,#bf2e34 100%);
    color: #333;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /* background-color: rgba(193, 142, 142, 0.9); */
    background-color: rgba(255 , 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    width: 80%;
    height: 39vh;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    /* justify-content: space-between; */
}
.active{
    /* background-color: hsla(208, 100%, 97%, 0.605); */
    background-color: rgba(255 , 255, 255, 0.4);
}
.mid{
    display: flex;
    position: absolute;
    /* display: none; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0rem;
}
.btn{
    padding: .3rem 1rem;
    /* outline-style: none; */
    background-color: rgba(255 , 255, 255, 0.6);
    backdrop-filter: blur(10px);
    width: fit-content;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:active{
    transform: translate(-1%,5px);
}
.btn:focus{
    outline: none;
}
.dicePic{
    margin: 2rem;
    width: 10%;
    transform: translate3d(-50%);
}
.rollDice{
    margin-top: 1.3rem;
}
.hold{
    margin: 2rem;
}
.player--winner{
    background-color: #2f2f2f;
}
.player--winner .heading{
    color: #c7365f;
    font-weight: 700;
}
.section{
    margin: 0rem;
    width: 100%;
    text-align: center;
    transition: all 0.75s;
}

.heading{
    font: lighter;
    padding-top: 2rem;
    font-size: 1.6rem;
    /* text-align: center; */
}
.show-score{
    color: #bf2e34;
    font-size: 2.7rem;
    padding: 2rem 0rem;
}
.button{
    margin: 1vh 10vw;
    padding-bottom: 10px;
    /* background-color: crimson; */
    width: 50%;
    background-color: rgb(250, 26, 37);
    color: antiquewhite;
    border-radius: 15px;
}
.text{
    padding: 1vh 0vw;
    font-size: 1.2rem;
}
.cu-score{
    /* padding: 2rem; */
    font-size: 1.8rem;
}
@media screen and (max-width:380px) {
    .container{
        width: auto;
        height: auto;
    }
    .heading{
        font-size: 1.5rem;
    }
    .show-score{
        font-size: 1.8rem;
        padding: 2rem 0rem;
    }
    .button{
        margin: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .cu-score{
        font-size: 1rem;
    }
    .dicePic{
        width: 12vw;
    }
    .text{
        font-size: .8rem;
        padding: 1.5vh 6vw;
    }
    .btn{
        margin: 0;
        padding: 4px ;
    }
    .newGame{
        /* padding: .2vh .4vw; */
        margin-top: -1.8vh;
    }
    .rollDice{
        margin-top:  5vh;
    }
    .hold{
        margin-top: 3vh;
    }
}